# Loading datasets from database (only user and post_text)

In [2]:
import os
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv

load_dotenv()

DB_URL = os.getenv("DB_URL")

if not DB_URL:
    raise ValueError("Database URL not found. Make sure you have a .env file or set the environment variable.")

user_data = pd.read_sql(
    """SELECT * FROM public.user_data""",
    con=DB_URL
)

user_data

,user_id,gender,age,country,city,exp_group,os,source
0,200,1,34,Russia,Degtyarsk,3,Android,ads
1,201,0,37,Russia,Abakan,0,Android,ads
2,202,1,17,Russia,Smolensk,4,Android,ads
3,203,0,18,Russia,Moscow,1,iOS,ads
4,204,0,36,Russia,Anzhero-Sudzhensk,3,Android,ads
...,...,...,...,...,...,...,...,...
163200,168548,0,36,Russia,Kaliningrad,4,Android,organic
163201,168549,0,18,Russia,Tula,2,Android,organic
163202,168550,1,41,Russia,Yekaterinburg,4,Android,organic
163203,168551,0,38,Russia,Moscow,3,iOS,organic
163204,168552,1,16,Russia,Ivanteyevka,4,Android,organic

In [4]:
post_text_df = pd.read_sql(
    """SELECT * FROM public.post_text_df""",
    con=DB_URL
)

post_text_df

      post_id                                               text     topic
0           1  UK economy facing major risks\n\nThe UK manufa...  business
1           2  Aids and climate top Davos agenda\n\nClimate c...  business
2           3  Asian quake hits European shares\n\nShares in ...  business
3           4  India power shares jump on debut\n\nShares in ...  business
4           5  Lacroix label bought by US firm\n\nLuxury good...  business
...       ...                                                ...       ...
7018     7315  OK, I would not normally watch a Farrelly brot...     movie
7019     7316  I give this movie 2 stars purely because of it...     movie
7020     7317  I cant believe this film was allowed to be mad...     movie
7021     7318  The version I saw of this film was the Blockbu...     movie
7022     7319  Piece of subtle art. Maybe a masterpiece. Doub...     movie

[7023 rows x 3 columns]

# Changing post_text - creating features

In [7]:
post_text_df['post_length'] = post_text_df['text'].apply(len)

In [9]:
post_text_df['num_hashtags'] = post_text_df['text'].apply(lambda x: x.count('#'))

In [11]:
post_text_df['num_mentions'] = post_text_df['text'].apply(lambda x: x.count('@'))

In [13]:
post_text_df['has_hashtag'] = post_text_df['text'].apply(lambda x: '#' in x)

In [15]:
post_text_df['has_url'] = post_text_df['text'].apply(lambda x: 'http' in x)

In [17]:
post_text_df

,post_id,text,topic,post_length,num_hashtags,num_mentions,has_hashtag,has_url
0,1,UK economy facing major risks\n\nThe UK manufa...,business,1967,0,0,False,False
1,2,Aids and climate top Davos agenda\n\nClimate c...,business,2701,0,0,False,False
2,3,Asian quake hits European shares\n\nShares in ...,business,3408,0,0,False,False
3,4,India power shares jump on debut\n\nShares in ...,business,1026,0,0,False,False
4,5,Lacroix label bought by US firm\n\nLuxury good...,business,889,0,0,False,False
...,...,...,...,...,...,...,...,...
7018,7315,"OK, I would not normally watch a Farrelly brot...",movie,803,0,0,False,False
7019,7316,I give this movie 2 stars purely because of it...,movie,800,0,0,False,False
7020,7317,I cant believe this film was allowed to be mad...,movie,636,0,0,False,False
7021,7318,The version I saw of this film was the Blockbu...,movie,728,0,0,False,False
7022,7319,Piece of subtle art. Maybe a masterpiece. Doub...,movie,790,0,0,False,False

In [19]:
import numpy as np

post_text_df.loc[:,post_text_df.dtypes==np.object_].columns

Index(['text', 'topic'], dtype='object')

In [21]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine(DB_URL)


post_text_df.to_sql('daria_luzina_features_post_2', con=engine, index=False) # записываем таблицу

df = pd.read_sql('SELECT * FROM daria_luzina_features_post_2', con=engine)

In [23]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine(DB_URL)

df = pd.read_sql('SELECT * FROM daria_luzina_features_post_2', con=engine)

In [25]:
df

,post_id,text,topic,post_length,num_hashtags,num_mentions,has_hashtag,has_url
0,1,UK economy facing major risks\n\nThe UK manufa...,business,1967,0,0,False,False
1,2,Aids and climate top Davos agenda\n\nClimate c...,business,2701,0,0,False,False
2,3,Asian quake hits European shares\n\nShares in ...,business,3408,0,0,False,False
3,4,India power shares jump on debut\n\nShares in ...,business,1026,0,0,False,False
4,5,Lacroix label bought by US firm\n\nLuxury good...,business,889,0,0,False,False
...,...,...,...,...,...,...,...,...
7018,7315,"OK, I would not normally watch a Farrelly brot...",movie,803,0,0,False,False
7019,7316,I give this movie 2 stars purely because of it...,movie,800,0,0,False,False
7020,7317,I cant believe this film was allowed to be mad...,movie,636,0,0,False,False
7021,7318,The version I saw of this film was the Blockbu...,movie,728,0,0,False,False
7022,7319,Piece of subtle art. Maybe a masterpiece. Doub...,movie,790,0,0,False,False

In [27]:
import pandas as pd
from sqlalchemy import create_engine


def batch_load_sql(query: str) -> pd.DataFrame:
    CHUNKSIZE = 200000
    engine = create_engine(DB_URL)
    conn = engine.connect().execution_options(stream_results=True)
    chunks = []
    for chunk_dataframe in pd.read_sql(query, conn, chunksize=CHUNKSIZE):
        chunks.append(chunk_dataframe)
    conn.close()
    return pd.concat(chunks, ignore_index=True)

In [29]:
def load_features() -> pd.DataFrame:
    query = "SELECT * FROM public.user_data"
    return batch_load_sql(query)


def load_features() -> pd.DataFrame:
    df_users = batch_load_sql("SELECT * from public.user_data")
    df_posts = batch_load_sql("SELECT * from daria_luzina_features_post_2")
    return df_users, df_posts

df_users, df_posts = load_features()

In [30]:
df_users

,user_id,gender,age,country,city,exp_group,os,source
0,200,1,34,Russia,Degtyarsk,3,Android,ads
1,201,0,37,Russia,Abakan,0,Android,ads
2,202,1,17,Russia,Smolensk,4,Android,ads
3,203,0,18,Russia,Moscow,1,iOS,ads
4,204,0,36,Russia,Anzhero-Sudzhensk,3,Android,ads
...,...,...,...,...,...,...,...,...
163200,168548,0,36,Russia,Kaliningrad,4,Android,organic
163201,168549,0,18,Russia,Tula,2,Android,organic
163202,168550,1,41,Russia,Yekaterinburg,4,Android,organic
163203,168551,0,38,Russia,Moscow,3,iOS,organic
163204,168552,1,16,Russia,Ivanteyevka,4,Android,organic

In [33]:
df_posts

,post_id,text,topic,post_length,num_hashtags,num_mentions,has_hashtag,has_url
0,1,UK economy facing major risks\n\nThe UK manufa...,business,1967,0,0,False,False
1,2,Aids and climate top Davos agenda\n\nClimate c...,business,2701,0,0,False,False
2,3,Asian quake hits European shares\n\nShares in ...,business,3408,0,0,False,False
3,4,India power shares jump on debut\n\nShares in ...,business,1026,0,0,False,False
4,5,Lacroix label bought by US firm\n\nLuxury good...,business,889,0,0,False,False
...,...,...,...,...,...,...,...,...
7018,7315,"OK, I would not normally watch a Farrelly brot...",movie,803,0,0,False,False
7019,7316,I give this movie 2 stars purely because of it...,movie,800,0,0,False,False
7020,7317,I cant believe this film was allowed to be mad...,movie,636,0,0,False,False
7021,7318,The version I saw of this film was the Blockbu...,movie,728,0,0,False,False
7022,7319,Piece of subtle art. Maybe a masterpiece. Doub...,movie,790,0,0,False,False

In [35]:
dataset = df_users[df_users['user_id']==200]

In [37]:
dataset = dataset.merge(df_posts.drop(columns='text'), how='cross')

In [39]:
dataset

,user_id,gender,age,country,city,exp_group,os,source,post_id,topic,post_length,num_hashtags,num_mentions,has_hashtag,has_url
0,200,1,34,Russia,Degtyarsk,3,Android,ads,1,business,1967,0,0,False,False
1,200,1,34,Russia,Degtyarsk,3,Android,ads,2,business,2701,0,0,False,False
2,200,1,34,Russia,Degtyarsk,3,Android,ads,3,business,3408,0,0,False,False
3,200,1,34,Russia,Degtyarsk,3,Android,ads,4,business,1026,0,0,False,False
4,200,1,34,Russia,Degtyarsk,3,Android,ads,5,business,889,0,0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7018,200,1,34,Russia,Degtyarsk,3,Android,ads,7315,movie,803,0,0,False,False
7019,200,1,34,Russia,Degtyarsk,3,Android,ads,7316,movie,800,0,0,False,False
7020,200,1,34,Russia,Degtyarsk,3,Android,ads,7317,movie,636,0,0,False,False
7021,200,1,34,Russia,Degtyarsk,3,Android,ads,7318,movie,728,0,0,False,False
7022,200,1,34,Russia,Degtyarsk,3,Android,ads,7319,movie,790,0,0,False,False

In [41]:
dataset = dataset.drop(columns = 'user_id')

In [43]:
dataset = dataset.set_index('post_id')

In [45]:
dataset

,gender,age,country,city,exp_group,os,source,topic,post_length,num_hashtags,num_mentions,has_hashtag,has_url
post_id,,,,,,,,,,,,,
1,1,34,Russia,Degtyarsk,3,Android,ads,business,1967,0,0,False,False
2,1,34,Russia,Degtyarsk,3,Android,ads,business,2701,0,0,False,False
3,1,34,Russia,Degtyarsk,3,Android,ads,business,3408,0,0,False,False
4,1,34,Russia,Degtyarsk,3,Android,ads,business,1026,0,0,False,False
5,1,34,Russia,Degtyarsk,3,Android,ads,business,889,0,0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7315,1,34,Russia,Degtyarsk,3,Android,ads,movie,803,0,0,False,False
7316,1,34,Russia,Degtyarsk,3,Android,ads,movie,800,0,0,False,False
7317,1,34,Russia,Degtyarsk,3,Android,ads,movie,636,0,0,False,False
7318,1,34,Russia,Degtyarsk,3,Android,ads,movie,728,0,0,False,False
7319,1,34,Russia,Degtyarsk,3,Android,ads,movie,790,0,0,False,False

In [49]:
import os
from catboost import CatBoostClassifier

def get_model_path(path: str) -> str:
    if os.environ.get("IS_LMS") == "1":  # проверяем где выполняется код в лмс, или локально. Немного магии
        MODEL_PATH = '/workdir/user_input/model'
    else:
        MODEL_PATH = path
    return MODEL_PATH


def load_models():
    model_path = get_model_path("/Users/daraluzina/ML/HW_22/Ver_1.0/catboost_model_3.cbm")  
    
    # Load CatBoost model
    model = CatBoostClassifier()
    model.load_model(model_path)
    
    return model

In [51]:
model_test = load_models()

In [53]:
model_test.predict_proba(dataset)[:,1]

array([0.05610598, 0.06030063, 0.05503424, ..., 0.08246341, 0.08307035,
       0.08307035])

In [55]:
dataset['predict_proba'] = model_test.predict_proba(dataset)[:,1]

In [57]:
dataset = dataset.sort_values(by='predict_proba', ascending=False).head(5)

In [59]:
dataset

,gender,age,country,city,exp_group,os,source,topic,post_length,num_hashtags,num_mentions,has_hashtag,has_url,predict_proba
post_id,,,,,,,,,,,,,,
4872,1,34,Russia,Degtyarsk,3,Android,ads,movie,2519,0,1,False,False,0.100915
3072,1,34,Russia,Degtyarsk,3,Android,ads,covid,103,6,0,True,True,0.100572
5167,1,34,Russia,Degtyarsk,3,Android,ads,movie,2696,0,1,False,False,0.098239
6487,1,34,Russia,Degtyarsk,3,Android,ads,movie,2034,0,1,False,False,0.095999
5916,1,34,Russia,Degtyarsk,3,Android,ads,movie,877,3,0,True,False,0.095439

In [61]:
dataset = dataset.merge(df_posts, left_index=True, right_on = 'post_id').reset_index()

In [63]:
dataset

,index,gender,age,country,city,exp_group,os,source,topic_x,post_length_x,...,has_url_x,predict_proba,post_id,text,topic_y,post_length_y,num_hashtags_y,num_mentions_y,has_hashtag_y,has_url_y
0,4700,1,34,Russia,Degtyarsk,3,Android,ads,movie,2519,...,False,0.100915,4872,Perhaps Im being too generous when I give this...,movie,2519,0,1,False,False
1,3176,1,34,Russia,Degtyarsk,3,Android,ads,covid,103,...,True,0.100572,3072,Manila returns to lockdown \n\n#lka #world #Ph...,covid,103,6,0,True,True
2,4988,1,34,Russia,Degtyarsk,3,Android,ads,movie,2696,...,False,0.098239,5167,"Contrary to the comment posted directly below,...",movie,2696,0,1,False,False
3,6240,1,34,Russia,Degtyarsk,3,Android,ads,movie,2034,...,False,0.095999,6487,"This is the page for House of Exorcism, but mo...",movie,2034,0,1,False,False
4,5694,1,34,Russia,Degtyarsk,3,Android,ads,movie,877,...,False,0.095439,5916,Sarah Plain and Talls Winters end was the best...,movie,877,3,0,True,False

In [65]:
dataset = dataset[['post_id','text','topic_x']]

In [67]:
dataset

   post_id                                               text topic_x
0     4872  Perhaps Im being too generous when I give this...   movie
1     3072  Manila returns to lockdown \n\n#lka #world #Ph...   covid
2     5167  Contrary to the comment posted directly below,...   movie
3     6487  This is the page for House of Exorcism, but mo...   movie
4     5916  Sarah Plain and Talls Winters end was the best...   movie

In [69]:
list_of_dicts = dataset.to_dict('records')
list_of_dicts

[{'post_id': 4872,
  'text': 'Perhaps Im being too generous when I give this film two and a half stars out of five, but there was an occasional moment. However, as An American Werewolf movie this one is a missed chance! There are no real plot connections to the superior original to speak of, but the story is similar in some ways to London.*Possible Spoiler Warning* American kids go to foreign country, one falls in love with a beautiful girl. Another one of the kids gets slaughtered by a werewolf in the same night that one gets bitten, and despite his undead friends warnings, by the light of the full moon he sprouts fur, fangs, and claws!But there are some differences in the story, for one; the girl is one of the werewolves. Second; there are three American Kids. And third; theres some weird-@$$ werewolf cult intent on taking over the world! As crazy as it sounds, that last one, WASNT a joke! *Spoiler Ends*The films suffers from many things, first the weak acting drags it down immensely! Tom Everret Scotts performance is amatuerish at best, and he and Julie Delpy, who plays his love interest, dont seem to have any chemistry together at all. Second; A weak script that seems to be all over the place. Many elements of suspense and dark comedy, that made the original one great, are missing in this one. And whoever said that eating out the heart of the werewolf that bit you will change you back human? Last I heard this wasnt part of werewolf lore at all! Third; terrible special effects; The werewolf effects are done with computer animation, which works for things such as dinosaurs, ghosts, and space ships. But seems choppy, fake and artificial, when used for furry creatures like werewolves.However there were a few things that saved this one from total turkeydom, theres one hilarious scene in a Paris cafe when Andy (Scott) is having coffee with Serafine (Delpy), he drops a bunch of condoms on the table, and tries to pass them off as chewing gum, by chewing and blowing a bubble! Also; the soundtrack, a very cool mix of alternative rock bands like Bush and Smashmouth. Although none of the songs have the word moon in their title, like the original movie, the soundtrack is great nontheless. And another funny scene when a rotting corpse, played by Julie Bowen, attempts to whistle and her eyeball pops out, had me laughing out loud.But as a whole this film seems to lack the wit and suspense of the original. And the overly contrived ending doesnt help it out much either.**1/2 Two and a half Out of Five Stars (Average.)',
  'topic_x': 'movie'},
 {'post_id': 3072,
  'text': 'Manila returns to lockdown \n\n#lka #world #Philippine #Manila #COVID19 #lockdown https://t.co/LGf3WG0XHm',
  'topic_x': 'covid'},
 {'post_id': 5167,
  'text': 'Contrary to the comment posted directly below, The Big Trail (1930) was not filmed in a three-camera process much like the later Cinerama. That was the finale to Napoleon (1927), a different film entirely! The Big Trail was simultaneously shot in both 35mm and 70mm (Grandeur) versions, and both versions are shown on Fox Movie Channel from time to time, so its easy to compare one with the other. The Grandeur version (broadcast in letterbox @ approximately its original 2-1 ratio) is more impressive cinematically with its wide angle panoramas, but suffers from the same problem that beset early CinemaScopes, a lack of close-ups forced upon director Raoul Walsh because of focus problems. Scenes involving individuals rather than crowds or long shots are much more effective in the standard version because the camera can move closer to the players thereby achieving a greater sense of involvement for the viewer. Watching the two versions simultaneously, one gets an accurate idea of which shots Walsh chose to shoot close-up, in the standard version, but could not, in the Grandeur version. There are also a couple sequences involving El Brendel: a shell game with Ian Keith, and some business with his wife & a jackass, which are in the Grandeur version, but missing from the standard version.For the record, The Big Trail is the only one of three Fox Grandeur films which has survived in its original wide screen format. (The other two are Fox Movietone Follies of 1929, completely lost, and Happy Days, which survives only in standard format.) Other studios also experimented with wide film at this time, but the only other one still known to exist in both formats is The Bat Whispers, filmed in both 65mm and 35mm, and released by United Artists. Other wide films were MGMs Billy the Kid (1930) and The Great Meadow (1931), RKOs Danger Lights (1930), and WBs The Lash (1930), all of which can be seen in their standard format versions on Turner Classic Movies. WBs Kismet (1930) was also filmed both wide and standard, but seems to have completely disappeared; it is rumored to be lost.Why did wide film fail in 1930? Theaters were reeling (pun intended) under the impact of the stock market crash of October 1929, and the spiraling costs of installing sound equipment, and so were adverse to taking on the added expense of installing additional new projection equipment and new wider screens to accommodate just a handful of films, photographed in a variety of different systems that were not even always compatible with each other. It would not be until 1953 when Fox, now Twentieth Century-Fox, would try again, and this time succeed, with the introduction of wide screen CinemaScope.',
  'topic_x': 'movie'},
 {'post_id': 6487,
  'text': 'This is the page for House of Exorcism, but most people have confused this film with the Mario Bava masterpiece, Lisa & the Devil, which explains the ridiculously high rating for this, House of exorcism. When Lisa & the Devil was shown at film festivals in the early 70s, it was a critical success. Audiences responded well to that gorgeous, Gothic horror film. Unfortunately it was a bit ahead of its time, and was considered too unusual, and not commercial enough for mass consumption. No distributor would buy it. So producer Alfredo Leone decided to edit Lisa, seemingly with a chainsaw, by removing just about half of the original film, and adding new scenes, which he filmed two years after the original product! It is important to note that Bava had little to do with these new, hideous additions, so technically House of Exorcism is not a Bava film. The original product is a slow, dreamy, classy production. A few minutes into the film, the viewer is jarred out of this dream world, as suddenly we see Lisa, (two years older, and with a very different haircut), begin to writhe on the ground, making guttural sounds and croaking epitaphs like suck my co@k, etc. Subtle, huh? And the film continues like this, jumping back and forth between a beautiful, visual film, and a grade Z Exorcist rip-off. Leone was trying to incorporate these shock scenes, while keeping some semblance of a story intact. He failed miserably. When the choice was made to basically destroy Lisa and the devil, Bava himself refused, saying that his film was too beautiful to cut. He was right, and it must have been quite sad for this artist to see all his work destroyed and flushed down the toilet. It was many years before the original Lisa and the Devil was seen again, re-surfacing on late night television. I had seen lisa long before i saw this new version, and it was downright disturbing to witness one of my favorite films vandalised in this way. Worth seeing only for curiosity sake. Otherwise avoid this insidious disaster like the plague.',
  'topic_x': 'movie'},
 {'post_id': 5916,
  'text': 'Sarah Plain and Talls Winters end was the best movie I have ever seen. The person in the story that I liked best had to be Cassie played by Emily Osment. Just because of her energy and how she speaks her mind. For example when Anna calls from town Cassie wants to answer and she says,Hello? Anna guess what. Grand father was lost but hes back now and he is not a good man! I loved all of the Sarah Plain and tall movies for my rating I think Sarah Plain and tall was #3. Skylark was #2. Winters end was #1! If I could live in any family from the past It would have to be the Witting family. I think there are so many good parts in this movie I cant name all of them. I think they picked the best and perfect actors to play all these people in the movie so if you ever want to watch a movie from the past I would highly highly highly recommend Sarah Plain and Talls Winters end.',
  'topic_x': 'movie'}]